<style type="text/css">
  .resetStyle ul li {
  list-style: none;
  }
  div{font-family:Microsoft JhengHei;}
  .contant{
    text-align: center;
  }
  .sr {min-width: 950px;}
  .ban {
    text-align: center;
    max-width: 100px;
    display: inline-block;
  }
  .row{
    margin:0 auto;
    display: inline;
    vertical-align: middle;
  }
  .circle{
    display: table-cell;
    text-align: center;
    height: 320px;
    border: solid;
    vertical-align: middle;
    width: 320px;
      border-radius: 500px;
      background-color: #ff6867;
      color: white;
      font-size: 50px;
  }
  .sp{
    font-size: 80px;
    color: white;
    text-shadow: 0 0 15px #000;
      display: table-cell;
      vertical-align: middle;
      width: 63%;
    }
    .toc{
      margin:0 auto;
      display: inline;
    }

    .ban a{
      text-decoration: none;
    }

    .toc > div > a > div{
      color: white;
      text-align: right;
      font-size: 75px;
      margin-top: -83px;
    }
    .toc > div{
      height: 400px;
      width: 250px;
      display: table-cell;
      vertical-align: bottom;
      text-align: left;
      text-shadow: 0 0 15px #000;
    }
    .toc >div >img{
      position: absolute;
      z-index: -1;
      margin-top: -333px;
    }
    .row > div:not(.circle):not(.sp) {
      display: table-cell;
      text-align: center;
      height: 320px;
      width: 100%;
      vertical-align: middle;
    }

    .c-1{
      width: 800px;
    }
    .c-2 > div{
      width: 475px;
    }
    .c-4 > div{
      width: 238px;
    }

    .c-4 > div > img{
      width: 238px;

    }
    .c-4 > div > div > a > img{
      width: 238px;

    }
    .c-3 > div{
      width: 317px;
    }

    .c-3 > div > img{
      width: 317px;

    }
    .c-3 > div > div > a > img{
      width: 317px;

    }

    .video{
      height: 600px;
      font-size: 43px;
    }

    .icons > div{


        display: table-cell;
        font-size: 28px;

    }

    .sheetClip > div{
      display: table-cell;
      height: 600px;
      font-size: 28px;
    }
    .sheetClip > div > div> a > div{
      color: white;
      background-color: #ff8787;
      border: solid 1px #f9dede;
      border-radius: 22px;
    }

    .pdtDT > div:not(.video){
      vertical-align: bottom;
      
    }

    .pdtDT > div{
      display: table-cell;
      height: 600px;
      font-size: 30px;
    }

    .pdtDT > div > a > div{
      color:white;
      text-shadow: 0 0 15px #000;
      font-size: 75px;
      margin-top: -83px;
    }
    .color-list{
      text-align: left;
      font-size: 40px;
      margin-top: -58px;
    }
    .single{
          display: inline-block;
          font-size: 60px;
          text-align: left;
          color: black;
          padding-left: 20px;
    }
    .single > div{
      margin-top:  -550px;

    }

    .tt{
      padding-top: 50px;
      font-size: 30px;
      padding-bottom: 25px;
    }
</style>
